<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="dataGenericCacheSection" type="DataGenericCache.Settings.ConfigSections.CacheSection, DataGenericCache"/>
  </configSections>
  <dataGenericCacheSection>
    <providers>
      <provider type="localmemory"/>
    </providers>
    <activeProviderCacheInMinutes value="60"/>
  </dataGenericCacheSection>
</configuration>