<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="dataGenericCache" type="DataGenericCache.Settings.ConfigSections.CacheSection, DataGenericCache"/>
  </configSections>
  <dataGenericCache>
    <providers>
      <provider type="localmemory"/>
    </providers>
    <activeProviderCacheInMinutes value="60"/>
  </dataGenericCache>
</configuration>