<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="dataGenericCacheSection" type="Data.Generic.Cache.Settings.ConfigSections.CacheSection, Data.Generic.Cache"/>
  </configSections>
  <dataGenericCacheSection>
    <providers>
      <provider type="redis" server="pub-redis-17031.us-east-1-2.5.ec2.garantiadata.com" port="17031" password="generic-cache-data"/>
      <provider type="localmemory"/>
    </providers>
    <activeProviderCacheInMinutes value="60"/>
  </dataGenericCacheSection>
  <appSettings>
    <add key="sample" value="sample"/>
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2.6.9.0" newVersion="2.6.9.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2.6.9.0" newVersion="2.6.9.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
</configuration>